<h1>CUISINEE EXPLORER!</h1>
<div class="search"> 
  <input type="text" [(ngModel)]="title" placeholder="Search..">
  <button (click)="searchFood()"> Search </button>
</div>
<p>
    <strong>"Cuisine explorer"</strong> is a concept or activity where individuals or groups immerse themselves in the exploration of different culinary traditions and gastronomic experiences. This exploration can take various forms such as:
</p>
<pre> 
  Many of us are foodies on the WebTour team, so naturally we’re always on the hunt to eat at the most popular spots anytime we travel somewhere new. 
  With favorites like Bantayan Burrito Company, Coucou Bar Hotel & Restaurant Bantayan Island, and Stumble Inn Beach Club and more, get ready to 
  experience the best flavors around Bantayan Island.
</pre>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="width:30%">Picture</th>
      <th style="width:30%">Title</th>
      <th style="width:40%">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of foods">
      <td><img [src]="food.picture" alt="Food Picture" style="max-width: 100px;"></td>
      <td>{{ food.title }}</td>
      <td>{{ food.description }}</td>
    </tr>
    <tr *ngIf="!foods">
      <td colspan="3" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>

