<h1>LOCAL TRADITION CALENDAR!</h1>
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width:30%">Picture</th>
      <th style="width:30%">Title</th>
      <th style="width:40%">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tradition of traditions">
      <td><img [src]="'assets/pictures/' + tradition.picture" alt="{{ tradition.title }}" style="max-width: 100%; max-height: 100%;"></td>
      <td>{{ tradition.title }}</td>
      <td>{{ tradition.description }}</td> 
    </tr>
    <tr *ngIf="!traditions">
      <td colspan="3" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>

