<h1>Cuisine Explorer</h1>
<p>All accounts from secure (admin only) api end point:</p>
<button class="btn btn-primary" (click)="showAddForm()">Add New Item</button>

<!-- Add Form -->
<div *ngIf="showAdd">
    <h3>Add New Food</h3>
    <form (ngSubmit)="addFood()">
        <div class="form-group">
            <label for="picture">Picture URL:</label>
            <input type="text" class="form-control" id="picture" [(ngModel)]="newFood.picture" name="picture" required>
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="newFood.title" name="title" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" [(ngModel)]="newFood.description" name="description" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-secondary" (click)="cancelAdd()">Cancel</button>
    </form>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:30%">Picture</th>
            <th style="width:30%">Title</th>
            <th style="width:20%">Description</th>
            <th style="width:20%">Actions</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let food of foods">
            <tr *ngIf="!food.editing; else editRow">
                <td><img [src]="'assets/pictures/' + food.picture" alt="{{ food.title }}" style="max-width: 100%; max-height: 100%;"></td>
                <td>{{ food.title }}</td>
                <td>{{ food.description }}</td>
                <td>
                    <button class="btn btn-primary" (click)="editFood(food)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteFood(food)">Delete</button>
                </td>
            </tr>
            <ng-template #editRow>
                <tr>
                    <td><img [src]="'assets/pictures/' + food.picture" alt="{{ food.title }}" style="max-width: 100%; max-height: 100%;"></td>
                    <td><input type="text" [(ngModel)]="food.editTitle"></td>
                    <td><textarea [(ngModel)]="food.editDescription"></textarea></td>
                    <td>
                        <button class="btn btn-primary" (click)="saveFood(food)">Save</button>
                        <button class="btn btn-secondary" (click)="cancelEdit(food)">Cancel</button>
                    </td>
                </tr>
            </ng-template>
        </ng-container>
        <tr *ngIf="!foods">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
